.button{
    border-style: none;
    height: 40px;
    padding: 6px 12px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.button.blue{
    background-color: #4ebbf1;
}

.button.blue:hover{
    background-color: #46b2e9;
}

.button-edit, .button-delete{
    background-color: #fcfbf8;
    border: none;
    cursor: pointer;
    color: #85857d;
    margin: 15px;
    font-size: 16px;
}

.button-edit:hover, .button-delete:hover{
    color: #686864;
}


@media(max-width:480px){
    .button.mobile{
        color:transparent;
        font-size:0;
        width:50px;
        height:50px;
        border-radius: 50%;
        position:fixed;
        top: 90vh;
        left: 80vw;
    }
    .button.mobile::before{
        content: "+";
        color:black;
        font-size:2rem;
        width:100%;
        height:100%;
    }
}